# Model paths - update to your paths. This example is given for my machines
# Your desktop model. Handled by huggingface, therefore no route needed
DESKTOP_MODEL=Qwen/Qwen2.5-7B-Instruct-AWQ

# The path to your llama.cpp model on your Raspberry Pi
PI_MODEL_PATH=/home/admin/Desktop/ray-pi/models/tinyllama-1.1b-chat-v0.3.Q4_K_M.gguf
